/* ============== HEADER MOBILE ==============*/
.header-element {
    box-shadow: 0 0 30px 0 #999;
}

.header-container {
    padding: 20px 10px;
    max-width: 1500px;
    margin: 0 auto;
}

.header-image-container {
    text-align: center;
}

.header-menu {
    font-size: 30px;
    color: var(--blue);
    position: absolute;
    top: 20px;
    right: 10px;
}

.header-navigation {
    margin-top: 30px;
    border-top: 1px solid #CCC;
    padding-top: 20px;
}

.header-navigation-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 880px;
    margin: 0 auto;
}

.header-navigation-item {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.header-navigation-item::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--blue);
    bottom: -5px;
    border-radius: 8px;
    transform: scaleX(0);
    transform-origin: left;
    transition: ease-in .1s;
}

.header-navigation-item:hover::before {
    transform: scaleX(1);
    transition: ease-in .2s;
}

.header-navigation-link {
    color: var(--blue);
}

.header-navigation-wpp {
    background-color: var(--dark-gold);
    color: #FFF;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}

.header-navigation-wpp:hover {
    filter: brightness(1.1);
}

/* ================ PAGE 1 MOBILE ================= */
.contact-link-container {
    padding: 0 10px;
}

.intro-container {
    max-width: 1500px;
    margin: 30px auto 0;
    background-color: var(--cream);
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.intro-content-container {
    max-width: 600px;
}

.page-title {
    padding: 0 10px;
    font-size: 35px;
    color: var(--blue);
    text-align: center;
}

.page-caption {
    color: var(--light-gold);
    font-size: 28px;
    margin: 20px 0;
    padding: 0 10px;
}

.contact-link-container {
    background-color: var(--light-gold);
    font-weight: bold;
    font-size: 24px;
}

.contact-link-container:hover {
    filter: brightness(1.1);
}

.contact-link {
    color: #FFF;
}

/* ============= PAGE 2 MOBILE ================= */
.about-us {
    padding: 40px 10px 10px;
    position:relative;
    color: #FFF;
    max-width: 1500px;
    margin: 0 auto;
}

.about-us::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.content-limiter {
    max-width: 1150px;
    margin: 0 auto;
}

.about-us-title {
    color: var(--dark-gold);
    font-size: 30px;
    text-decoration: underline 3px var(--dark-gold);
    margin-bottom: 20px;
}

.about-us-content {
    font-size: 18px;
}

.fundamentals-container {
    margin: 30px 0;
}

.fundamentals-item {
    margin: 20px auto;
    max-width: 300px;
}

.fundamentals-figure {
    text-align: center;
    margin-bottom: 10px;
}

.fundamentals-image {
    width: 200px;
}

.fundamentals-name {
    font-weight: bold;
    color: var(--dark-gold);
    font-size: 24px;
    text-decoration: underline 2px;
}

.fundamentals-description {
    text-align: center;
}

/* ================== PAGE 3 MOBILE ================= */
.areas {
    padding: 30px 10px;
    font-size: 20px;
    max-width: 1500px;
    margin: 0 auto;
    background-color: var(--cream);
}

.areas-title {
    color: var(--dark-gold);
}

.areas-contact-wpp-container {
    margin: 10px 0;
    background-color: var(--dark-gold);
    padding: 10px 5px;
    text-align: center;
    width: fit-content;
}

.areas-contact-wpp-container:hover {
    filter: brightness(1.1);
}

.area-contact-wpp {
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
}

.areas-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.area-item {
    margin: 20px 0;
    width: 260px;
    display: flex;
    flex-direction: column;
}

.area-name {
    font-size: 20px;
    background-image: url('../assets/img/background-field-small.png');
    padding: 30px 10px;
    color: #FFF;
    background-size: cover;
    text-align: center;
    height: 107px;
}

.area-description {
    background-color: var(--dark-gold);
    color: #FFF;
    padding: 10px;
    font-size: 16px;
    flex-grow: 1;
    text-align: justify;
    line-height: 22px;
}

/* ================= PAGE 4 MOBILE =====================*/
.keep-up {
    background-color: var(--cream);
    padding: 30px 10px;
    max-width: 1500px;
    margin: 0 auto;
}

.keep-up-content-container {
    max-width: 500px;
    margin: 0 auto;
}

.keep-up-title {
    color: var(--blue);
    font-size: 45px;
}

.keep-up-text {
    color: var(--dark-gold);
    font-weight: bold;
    font-size: 32px;
    margin: 15px 0;
}

.keep-up-contact-wpp {
    background-color: var(--dark-gold);
    color: #FFF;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 18px;
}

.keep-up-contact-wpp:hover {
    filter: brightness(1.1);
}

.keep-up-images-container {
    max-width: 770px;
    margin-top: 35px;
}

/* Image facebook (smaller) */
.keep-up-facebook {
    width: 90vw;
    max-width: 270px;
    background-color: var(--dark-gold);
    border-radius: 10px;
    padding: 8px;
    margin: 0 auto;
}

.keep-up-facebook-title {
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.keep-up-facebook-image-container {
    background-color: var(--black-background);
    color: #FFF;
    border-radius: 10px;
    padding: 1px 10px 0;
    margin-top: 15px;
}

.keep-up-facebook-top-part {
    display: flex;
    margin: 7px 0 10px;
    align-items: center;
    justify-content: space-between;
}

.keep-up-facebook-left-arrow, .keep-up-facebook-search {
    font-size: 12px;
}

.keep-up-facebook-input-container {
    background-color: #333;
    padding: 5px 10px;
    border-radius: 10px;
}

.keep-up-facebook-search-text {
    font-size: 12px;
}

.keep-up-facebook-figure, .keep-up-facebook-image {
    width: 100%;
}

.keep-up-facebook-bottom {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.keep-up-facebook-bottom-figure {
    background-color: var(--cream);
    width: 46px;
    height: 32px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.keep-up-image-bottom-logo {
    width: 50px;
    height: 20px;
} 

.keep-up-facebook-info {
    margin-left: 15px;
}

.keep-up-facebook-info-title {
    font-size: 15px;
}

.keep-up-facebook-info-text, .keep-up-facebook-info-time {
    font-size: 12px;
    color: #9c9c9c;
    margin: 10px 0;
}

.keep-up-facebook-status {
    color: green;
    font-weight: bold;
}

.keep-up-facebook-like-container, .keep-up-facebook-like {
    font-size: 11px;
    color: var(--like-blue);
}

.keep-up-facebook-like-container {
    text-align: center;
}

/* Image instagram (larger) */
.keep-up-instagram {
    background-color: var(--dark-gold);
    border-radius: 10px;
    margin: 30px auto 0px;
    padding: 15px 10px;
    width: 100vw;
    max-width: 300px;
}

.keep-up-instagram-inner-container {
    background-color: #FFF;
    padding: 10px 10px 0;
    border-radius: 10px;
}

.keep-up-instagram-follow {
    color: var(--dark-gold);
    font-weight: bold;
    font-size: 19px;
}

.keep-up-instagram-address {
    color: var(--blue);
    font-weight: bold;
    margin: 5px 0;
}

.keep-up-instagram-figure {
    text-align: center;
}

.keep-up-instagram-image {
    width: 255px;
}

/* ================ PAGE 5 MOBILE ============== */
.office-infos {
    position: relative;
    padding: 20px 10px;
    color: #FFF;
    max-width: 1500px;
    margin: 0 auto;
}

.office-infos::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.footer-contact-info, .social-media {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.office-infos-section-title {
    background-color: var(--dark-gold);
    padding: 5px 10px;
    width: fit-content;
    font-size: 20px;
}

.office-infos-section-contact {
    margin: 15px 0;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.office-infos-icon {
    color: var(--dark-gold);
    font-size: 25px;
}

.office-infos-logo-image {
    width: 27px;
}

.office-infos-content {
    margin-left: 10px;
}

.social-media-icons {
    display: flex;
    justify-content: center;
}

.office-social-media-icon {
    font-size: 45px;
    color: var(--dark-gold);
}

.social-media-link {
    margin: 0 20px;
}

.social-media-link:hover {
    filter: brightness(1.3);
    transition: .2s;
}

.social-media-facebook-instagram {
    text-align: center;
    font-size: 20px;
    margin: 15px 0;
}

/* ================ HEADER DESKTOP =================  */
@media only screen and (min-width: 950px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .header-navigation {
        border-top: none;
    }

    .header-navigation-item {
        font-size: 22px;
    }
}

/* ==================== PAGE 1 DESKTOP ============== */
@media only screen and (min-width: 550px) {
    .page-title {
        padding: 0 10px;
        font-size: 45px;
        text-align: left;
        background-color: transparent;
    }

    .page-caption {
        font-size: 35px;
    }

    .contact-link-container {
        margin-left: 10px;
        padding: 10px;
        width: fit-content;
    }
}

@media only screen and (min-width: 750px) {
    .intro-container {
        background-image: url('../assets/img/background-first.png');
        background-position: center;
        background-size: cover;
        padding: 0 0 60px;
        margin: 25px auto 0;
    }
}

@media only screen and (min-width: 950px) {
    .intro-content-container {
        margin-top: 115px;
    }
}

/* ============= PAGE 2 DESKTOP ================== */
@media only screen and (min-width: 750px) {
    .about-us {
        background-image: url('../assets/img/background-second.png');
        background-size: cover;
    }
    
    .fundamentals-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .about-us-title {
        font-size: 40px;
    }

    .about-us-content, .fundamentals-description {
        font-size: 22px;
    }

    .fundamentals-name {
        font-size: 26px;
    }
}

/* =============== PAGE 3 DESKTOP ================ */
@media only screen and (min-width: 535px) {
    .area-item {
        margin: 10px;
    }
}

@media only screen and (min-width: 645px) {
    .areas-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .areas-title {
        font-size: 34px;
    }

    .area-contact-wpp {
        font-size: 18px;
    }
}

@media only screen and (min-width: 750px) {
    .areas {
        background-color: none;
        background-image: url('../assets/img/background-third.png');
        background-size: cover;
    }

    .area-contact-wpp {
        font-size: 22px;
    }
}

/* ============ PAGE 4 DESKTOP =============== */
@media only screen and (min-width: 750px) {
    .keep-up {
        background-image: url('../assets/img/background-fourth.png');
        background-size: cover;
    }
}

@media only screen and (min-width: 1120px) {
    .content-limiter-keep-up {
        height: 550px;
        align-items: center;
    }
    
    .content-limiter-keep-up {
        display: flex;
    }

    .keep-up-text {
        margin: 30px 0;
    }

    .keep-up-facebook {
        margin: 0;
    }
}

@media only screen and (min-width: 365px) {
    .keep-up-facebook-top-part {
        justify-content: space-around;
    }
}

@media only screen and (min-width: 590px) {
    .keep-up-contact-wpp {
        font-size: 22px;
    }
    
    .keep-up-images-container {
        display: flex;
        justify-content: space-between;
        flex-basis: 60%;
        margin: 35px auto 0;
    }

    .keep-up-instagram {
        margin: 0;
    }
}

/* ============== PAGE 5 DESKTOP ==============*/
@media only screen and (min-width: 750px) {
    .office-infos {
        background-image: url('../assets/img/background-fifth.png');
    }

    .office-infos-section-title {
        font-size: 28px;
    }

    .office-infos-icon {
        font-size: 37px;
    }
    
    .office-infos-logo-image {
        width: 37px;
    }
    
    .office-infos-content {
        font-size: 20px;
    }

    .office-social-media-icon {
        font-size: 55px;
    }

    .social-media-facebook-instagram {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1300px) {
    .office-infos {
        padding-top: 40px;
    }
    
    .office-infos-content-limiter {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-media-image-container {
        background-image: url('../assets/img/logo-shield.png');
        height: 400px;
        width: 400px;
        margin: 0 auto;
    }
}